/YEON.VDSC.WEB/YEON.VDSC.WEB/bin/Debug
/YEON.VDSC.WEB/YEON.VDSC.WEB/bin
/YEON.VDSC.WEB/YEON.VDSC.WEB/obj
/YEON.VDSC.WEB/YEON.VDSC.CORE/bin
/YEON.VDSC.WEB/YEON.VDSC.CORE/obj
/YEON.VDSC.WEB/YEON.VDSC.BOT/obj
/YEON.VDSC.WEB/YEON.VDSC.BOT/bin
/YEON.VDSC.WEB/.vs
